@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  position: relative;
  min-height: 100%;
  font-size: 62.5%;
  line-height: 1.6;
}

body {
  background-color: rgb(245, 245, 245);
  margin-bottom: 5.2rem;
}

/* NAV BAR - HEADER */

.header {
  background-color: #222831;
}

h1 {
  color: #32E0C4;
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
  padding-top: 3rem;
}

.nav-container {
  -webkit-box-pack: justify;
  max-width: 140rem;
  margin: 0px auto;
  padding: 4rem;
  font-size: 3rem;
  display: flex;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  background-color: #222831;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.text-link {
  color: white;
  text-decoration: none;
}
.text-link-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: white;
  padding: 2rem;
  border-radius: 50px;
  color: #222831;
}

.text-link:hover{
  font-weight: 900;
  border-bottom: 2px solid#32E0C4;
}

.cart-amount {
  position: absolute;
  top: 4rem;
  right: 4rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50px;
  background-color: #32E0C4;
  font-size: 1.5rem;
  font-weight: bold;
}


/* HOME HOME-IMG HOME-MESSAGE */
.home-page-container, .contact-container {
  max-width: 140rem;
  margin: 0px auto;
  padding: 4rem;
}

.home-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;
  margin-bottom: 20rem;
}

.message {
  display: flex;
  flex-direction: column;
  width: 50rem;
  animation: fadeIn ease 2s;
}

.message .small-message {
  color: #9fa0a1;
  font-size: 1.9rem;
  font-weight: bold;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
} 

.message .big-message {
  color: #222831;
  font-size: 6rem;
  font-weight: bold;
  border-bottom: 5px solid #32E0C4;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 10px;
  margin-bottom: 1rem;
}

.shop-now-button {
  text-align: center;
  padding: 2rem 6rem;
  background-color: #222831;
  color: #32E0C4;
  border-radius: 50px;
  border: none;
  font-weight: 900;
  font-size: 4rem;
  cursor: pointer;
}

.home-page-image {
  width: 70rem;
  border-radius: 20%;
  animation: fadeIn ease 2s;
}

/* SHOP - PRODUCTS */


.products-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin: 0px auto;
  padding: 3rem;
  gap: 1rem;
}

.category-container {
  line-height: 1.2;
  animation: fadeIn ease 2s;
}

.category-container ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 3rem;
  padding-top: 5rem;
  font-weight: 800;
  color: #393E46;
  border-top: 1px solid #9fa0a1;  
}

.product-category-name {
  color: #222831;
  font-size: 3.5rem;
}

.category-container ul li {
  cursor: pointer;
}

.product-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  margin-top: 4rem;
  animation: fadeIn ease 2s;
}

.product-card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  font-size: 2rem;
  border: 1px solid #9fa0a1;
  box-shadow: 0 5px 5px #0000002f;
}

.product-image-container {
  height: 25rem;
  padding: 2rem;
  margin: 0 auto;
}

.product-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
  height: 100%;
  padding: 1rem;
  border-top: 1px solid #9fa0a1;
}

.product-image, .cart-image {
  height: 80%;
  width: 100%;
}

.product-name {
  font-weight: 900;
}

.add-to-cart-button {
  background-color: #32E0C4;
  color: #222831;
  padding: 1rem;
  font-weight: 900;
  font-size: 2rem;
  border: 1px solid rgb(57, 62, 70, 0.5);
  cursor: pointer;
}

/* CART CART-CARD */
.cart-title {
  font-size: 6rem;
  color: #393E46;
  font-weight: 900;
  border-bottom: 3px solid #32E0C4;
}

.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  gap: 3rem;
  animation: fadeIn ease 2s;
}

.cart-cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.cart-product-card{
  line-height: 1;
  font-size: 2rem;
  width: 55rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  height: 15rem;
  border: 1px solid #9fa0a1;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 5px 5px #0000002f;
  padding: 2rem;
}

.cart-image-container {
  height: 12rem;
  width: 8rem;
}

.detail {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1 1;
}

.cart-price {
  font-weight: 900;
}

.add-and-remove {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  border: 1px solid #222831;
  padding: 0rem 1rem;
}

.remove-button, .minus-button, .add-button {
  border: none;
  background-color: inherit;
  font-size: 1.5rem;
  cursor: pointer;
}

.add-button, .minus-button {
  color: #32E0C4;
}

.remove-button {
  align-self: flex-start;
  color: #32E0C4;
}

.checkout, .payment-method {  
  font-size: 2rem;
  width: 55rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #9fa0a1;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 5px 5px #0000002f;
  padding: 2rem;
  line-height: 1;
}

.checkout .sub-price, .shipping, .total {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.checkout h3 {
  margin-bottom: 2rem;
}

.total {
  margin-top: 2rem;
  border-top: 1px solid #393E46;
  font-weight: 900;
}

.order {
  margin-top: 1rem;
  width: 100%;
  border: none;
  background-color: #32E0C4;
  color: #222831;
  font-weight: 900;
  font-size: 2rem;
  padding: 1rem;
  border: 2px solid #222831;
}

.payment-method .icons img {
  margin-top: 2rem;
  width: 80%;
}

/* CONTACT CONTACT-ICONS */

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem;
  margin-top: 14rem;
  margin-bottom: 26.5rem;
  animation: fadeIn ease 2s;
}

.contact-social {
  display: flex;
  gap: 10rem;
  font-size: 10rem;
}

.contact-info {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.contact-social a {
  cursor: pointer;
  transition: transform 0.15s ease-in-out;
  color: #222831;
  }
.contact-social a:hover {
    transform: scale(1.1);
  }

/* FOOTER  */

footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  padding: 1rem 0px;
  font-size: 2rem;
  text-align: center;
}
.signature {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.signature a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.footer-wave {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: -100;
}

/* MEDIA QUERIES */
@media (max-width: 1600px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 1400px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 1024px) {
  .home-page-container {
    position: relative;
  }
  .home-page{
    justify-content: center;
    position: relative;
  }
  .message {
    align-items: center;
  }

  .home-page-image {
    position: absolute;
    z-index: -1;
    width: 90%;
    opacity: 0.4;
    animation: none;
    margin-top: 3rem;
  }

  .message .big-message {
    text-align: center;
    margin-bottom: 3rem;
    border-bottom: none;
  } 

  .message .small-message {
    text-align: center;
    color: #393E46;
  }
  
}

@media (max-width: 768px) {

  .nav-container {
    flex-direction: column;
    gap: 2rem;
  }

  .nav-links {
    width: 80%;
  }

  .products-container {
    display: flex;
    flex-direction: column;
  }

  .category-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .product-category-name {
    font-size: 5rem;
    padding-top: 0;
  }

  .category-container ul {
    flex-direction: row;
    padding-top: 0;
    gap: 3rem;
    font-size: 2rem;
  }

  .product-card-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact-social {
    gap: 2rem;
  }
}

@media (max-width: 480px) {
  .nav-links {
    gap: 1rem;
    width: 100%;
  }

  .home-page-container {
    padding: 1rem;
  }

  .home-page-image {
    width: 95%;
  }

  .message {
    gap: 2rem;
    justify-content: space-around;
  }

  .message .small-message {
    font-size: 1rem;
    color: #393E46;
  }

  .message .big-message {
    font-size: 3rem;
  }

  .home-page {
    margin-top: 2rem;
    margin-bottom: 10rem;
  }

  .product-category-name {
    font-size: 4rem;
    padding-top: 0;
  }

  .product-card-container {
    grid-template-columns: 1fr;
  }

  .category-container ul {
    margin-top: 1rem;
    gap: 1rem ;
    font-size: 1.5rem;
  }

  .detail {
    font-size: 1.5rem;
  }

  .add-and-remove {
    gap: 1rem;
  }

  .cart-title {
    font-size: 3rem;
  }

  .cart-product-card, .checkout, .payment-method {
    width: 95%;
  }

  .contact {
    gap: 3rem;
    margin-top: 1rem;
    margin-bottom: 2rem
  }

  .contact-social {
    flex-direction: column;
    gap: 1rem;
  }
}